langchain
langchain-google-genai
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
sentence-transformers
google-generativeai
chromadb
pymupdf
streamlit
python-dotenv
requests
rich
